.container {
  margin-bottom: 45px;
}
.itemContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.item {
  font-size: 16px;
  padding: 10px 16px 10px 0;
}
.title {
  font-size: 22px;
  margin-bottom: 18px;
}
.countCircle {
  background-color: #d9e0c9a6;
  color: #4a8015;
  padding: 0 7px;
  border-radius: 12px;
}
