.menuWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid transparent;
  background-color: #f9f9f9;
}
.item {
  margin: 16px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.1rem;
}
.item img {
  margin-left: 5px;
}
@media (max-width: 620px) {
  .menuWrapper {
    display: none;
  }
}
