.container {
  width: 70%;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 30px 16px;
}
.titleContainer {
  margin-top: 32px;
  margin-bottom: 40px;
}
.title {
  margin-bottom: 4px;
  font-size: 1.8rem;
}
.subtitle {
  color: #a9a9a9;
}
.product {
  margin-bottom: 32px;
}
