.container {
  margin-bottom: 60px;
}
.infoDescription {
  color: #a9a9a9;
}
.titleContainer {
  margin-bottom: 30px;
}
.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

@media (max-width: 1024px) {
  .infoContainer {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .container {
    font-size: 0.8rem;
  }
} ;
