.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 2px solid #f5f5f5;
}
.title {
  position: relative;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
}
.title:first-child::after {
  content: " ";
  position: absolute;
  width: 170px;
  background-color: rgb(0, 0, 0);
  height: 1px;
  bottom: 0;
  left: 0;
}
.title:last-child {
  margin-right: 50px;
}
.descTitle {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.description {
  margin-bottom: 25px;
}
