.btnContainer {
  display: flex;
}
.amouthContainer {
  display: flex;
  width: fit-content;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  font-size: 16px;
  align-items: center;
  padding: 6px;
  background-color: #f9f9f9;
  width: 121px;
}

.left {
  color: rgba(0, 0, 0, 0.829);
  width: 100%;
  margin-left: 3px;
  border: transparent;
  background-color: transparent;
  outline: none;
}
.right {
  width: 100%;
  min-width: 60px;
  font-size: 14px;
  padding-left: 5px;
  border-left: 2px solid #d1d1d1;
}
.arrow {
  margin-left: 5px;
}
.dropButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
/*RIGHT BUTTON*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  letter-spacing: 1.1px;
  font-weight: 700;
  font-size: 18px;
  height: 54px;
  white-space: nowrap;
  width: 165px;
  background-color: #6a983c;
  border-radius: 12px;
  border: 2px solid #46760a;
  margin-left: 5px;
  cursor: pointer;
}
.plus {
  font-size: 26px;
  margin-right: 4px;
  color: #92c064;
  position: relative;
  top: -2px;
}
