.mainWrapper {
  display: flex;
  position: sticky;
  flex-direction: row;
  min-height: 48px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 16.34px;
  font-weight: 400;
  width: 100%;
}
.right {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 100%;
}
.right div {
  margin: 16px 33px;
  color: #6a983c;
}
.right :last-child {
  margin: 16px 0px 33px 16px;
}

.left {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.left div {
  margin: 16px 33px;
}
.left :first-child {
  color: #6a983c;
  margin: 16px 33px 16px 0px;
}
