.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header {
  margin-top: 15px;
  margin-left: 20px;
}
.checkout {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}
.checkout img {
  width: 40px;
}
.man {
  position: relative;
  bottom: 2px;
  margin-right: 40px;
}
