.container {
  display: flex;
  flex-direction: column;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.arrow {
  margin-left: 10px;
  transform: rotate(-90deg);
  width: 13px;
}
