.mainWrapper {
  display: flex;
  flex-direction: row;
  min-height: 48px;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #d1d1d1;
  justify-content: space-between;
  align-items: center;
}
.right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.right .item:not(:first-child) a {
  margin-left: 38px;
}
.right .item a {
  color: #6a983c;
}
.left .item:first-child a {
  color: #6a983c;
}
.left {
  display: flex;
  width: 100%;
}
.left .item:not(:last-child) a {
  margin-right: 38px;
}
@media (max-width: 866px) {
  .mainWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right,
  .left {
    display: flex;
    justify-content: space-between;
  }
  .left {
    margin-bottom: 10px;
  }
  .left :last-child a {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 575px) {
  .left :first-child a {
    display: none;
  }

  .left :last-child {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .left {
    font-size: 0.83rem;
  }
  .right {
    font-size: 0.83rem;
  }
}
