.container {
  display: flex;
  width: 100%;
  height: 215px;
  border-bottom: 1px solid #a9a9a967;
}
.imgContainer {
  width: 36%;
  font-size: 1rem;
  color: #a9a9a9;
}
.img {
  width: 100%;
  object-fit: cover;
  height: 95px;
  border: 1px solid #a9a9a967;
  border-radius: 12px;
  margin-bottom: 12px;
}
.deleteImg {
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 5px;
}
.wishList {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  grid-gap: 3px;
}
.contentContainer {
  width: 100%;
  padding: 0 16px;
}
.title {
  margin-bottom: 4px;
}
.starContainer {
  display: flex;
  margin-bottom: 16px;
}
.star {
  margin-right: 5.26px;
  width: 20px;
}
.price {
  color: #6a983c;
  font-weight: 600;
}
.valuesContainer {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  margin-bottom: 13px;
}
.listContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.listTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}
.listTitle:nth-child(odd) {
  color: #a9a9a9;
  font-size: 1rem;
  letter-spacing: 1px;
}
.listTitle:nth-child(even) {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* DROPBUTTON */

.amouthContainer {
  display: flex;
  width: fit-content;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  font-size: 16px;
  align-items: center;
  padding: 6px;
  background-color: #f9f9f9;
  width: 121px;
}

.left {
  color: rgba(0, 0, 0, 0.829);
  width: 100%;
  margin-left: 3px;
  border: transparent;
  background-color: transparent;
  outline: none;
}
.right {
  width: 100%;
  min-width: 60px;
  font-size: 14px;
  padding-left: 5px;
  border-left: 2px solid #d1d1d1;
}
.dropButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
.arrow {
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .listTitle:nth-child(odd),
  .listTitle:nth-child(even) {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .listTitle:nth-child(odd),
  .listTitle:nth-child(even) {
    font-size: 0.8rem;
  }
  .star {
    margin-right: 5.26px;
    width: 15px;
  }
  .right,
  .amouthContainer {
    font-size: 12px;
  }
  .price {
    font-size: 1.1rem;
  }
}
