.container {
  margin-top: 24px;
  display: flex;
  width: 170px;
  height: 22px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 9px 16px 9px 16px;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}
.dropDown {
  margin-left: 5px;
}
.left {
  display: flex;
  flex-basis: 100%;
  border-right: 1px solid #d1d1d1;
  color: rgba(0, 0, 0, 0.829);
}
.right {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  flex-basis: 90%;

  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
