.searchBarWrapper {
  margin: 0px 100px;
  border: 2px solid #d1d1d1;
  border-radius: 12px;
}

.searchLoop {
  width: 15px;
  height: 15px;
  border: transparent;
}
.btn {
  width: 5px;
  border: transparent;
  background-color: transparent;
  margin-right: 17.57px;
  cursor: pointer;
}
.formGroup {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 31px;
  padding: 10px;
  border-radius: 12px;
  font-weight: 700;
}
.dropDown {
  position: relative;
  width: 140px;
  padding-left: 16px;
  color: #151515;
  border-right: 2px solid;
  border-color: #d1d1d1;
  cursor: pointer;
}
.defaultOption {
  padding: 8px 0px;
}
.dropDownList ul {
  list-style: none;
  background-color: #f9f9f9;
  color: #151515;
  position: absolute;
  top: 35px;
  left: -10px;
  width: 150px;
  border-radius: 10px;
  padding: 0 0 0 25px;
}
.dropDownList ul li {
  padding: 10px 10px 10px 0px;
}
.defaultOption img {
  width: 8px;
  height: 8px;
  padding: 0px 11px;
}
.dropDownList ul li:hover {
  color: rgba(0, 0, 0, 0.726);
  font-weight: bold;
}
.dropDownList ul li::before {
  border-width: 0px 8px 8px 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.274) transparent;
  position: absolute;
  bottom: 100%;
  right: 33px;
}
.search {
  padding-left: 24px;
  padding-top: 5px;
  width: 300px;
  height: 100%;
}
.searchInput {
  width: 262px;
  border: transparent;
  outline: transparent;
  color: black;
  font-size: 15px;
}
.menuWrapper {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
}
.menuWrapper div {
  padding: 5px;
}
