.container {
  display: flex;
  align-items: center;
  height: 48px;
  color: #a9a9a9;
  margin: 25px 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .container {
    margin: 5px;
  }
}

@media (max-width: 620px) {
  .container {
    display: none;
  }
}
