.itemContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.itemContainer .item {
  font-size: 18px;
  padding: 10px 16px 10px 0;
}
.header {
  font-size: 22px;
}
