.container {
  display: flex;
  gap: 20%;
  align-items: center;
}
.title {
  font-size: 1.6rem;
}
.starContainer {
  display: flex;
  margin-top: 10px;
}

.star {
  margin-right: 5.26px;
  width: 40px;
}
@media (max-width: 600px) {
  .title {
    font-size: 1rem;
  }
  .star {
    width: 25px;
  }
}
