.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
}
.header {
  font-size: 2.3rem;
}
.ratingContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  align-items: center;
}
.starContainer {
  display: flex;
}
.review {
  color: #a9a9a9;
  position: relative;
  top: 1.5px;
}
.star {
  margin-right: 5.26px;
  width: 20px;
}
.description {
  margin-bottom: 35px;
  font-size: 0.9rem;
}

.valuesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 13px;
  margin-bottom: 35px;
}
.listContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
.listTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}
.listTitle:nth-child(odd) {
  color: #a9a9a9;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-right: 5px;
}
.listTitle:nth-child(even) {
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.buyContainer {
  display: flex;
  justify-content: space-between;
  max-width: 625px;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.247);
  border-radius: 12px;
  padding: 16px 24px;
  margin-bottom: 24px;
}
.priceHalf {
  font-size: 1.6rem;
}
.priceFull {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.397);
  font-weight: 700;
}
.wishList {
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .priceHalf {
    font-size: 1.4rem;
  }
  .priceFull {
    font-size: 0.75rem;
  }
}
@media (max-width: 600px) {
  .header {
    font-size: 1.9rem;
  }
  .listTitle:nth-child(1n),
  .description,
  .wishList {
    font-size: 0.8rem;
  }
  .buyContainer {
    flex-direction: column;
  }
  .priceContainer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
}
@media (max-width: 425px) {
  .header {
    font-size: 1.7rem;
  }
  .listTitle:nth-child(1n),
  .description,
  .wishList {
    font-size: 0.75rem;
  }
}
