.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
}
.header {
  font-size: 2.3rem;
}
.ratingContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}
.starContainer {
  display: flex;
}
.review {
  color: #a9a9a9;
}
.star {
  margin-right: 5.26px;
  width: 20px;
}
.description {
  margin-bottom: 35px;
  font-size: 0.9rem;
}
.valuesContainer {
  display: flex;
  margin-bottom: 35px;
}
.left {
  display: flex;
  width: 100%;
}
.listTitleContainer {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  color: #a9a9a9;
  font-size: 1rem;
  gap: 7px;
  letter-spacing: 1px;
}
.listDescriptionContainer {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 7px;
  letter-spacing: 0.5px;
}

.right {
  display: flex;
  width: 100%;
}
.buyContainer {
  display: flex;
  justify-content: space-between;
  max-width: 625px;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.247);
  border-radius: 12px;
  padding: 16px 24px;
  margin-bottom: 24px;
}
.priceHalf {
  font-size: 1.6rem;
}
.priceFull {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.397);
  font-weight: 700;
}
.wishList {
  font-size: 1.1rem;
  font-weight: 700;
}
