.container {
  padding-bottom: 71px;
}
.infoDescription {
  color: #a9a9a9;
}
.titleContainer {
  margin-bottom: 30px;
}
.chexBoxContainer {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  margin-bottom: 32px;
}

.item {
  display: flex;
  padding: 10px 16px;
  background-color: #f9f9f9;
  width: fit-content;
  border: 1px solid#D1D1D1;
  border-radius: 12px;
}
.button {
  color: #ffffff;
  letter-spacing: 1.1px;
  font-weight: 700;
  font-size: 1rem;
  height: 42px;
  white-space: nowrap;
  max-width: 155px;
  background-color: #6a983c;
  border-radius: 12px;
  border: 2px solid #46760a;
  margin-left: 5px;
  cursor: pointer;
}
