.container {
  display: flex;
  flex-direction: row;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  max-width: 869px;
}
.imgBx {
  width: 268px;
  flex-shrink: 0;
  background-color: #a9a9a9;
  border-radius: 12px;
}
.details {
  display: flex;
  flex-direction: row;
  flex-basis: 601px;
  height: 280px;
}
.left {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  margin: 32px;
  justify-content: space-between;
}
.right {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  margin: 32px;
  justify-content: space-between;
}

.top h1 {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
}
.top div {
  font-size: 14px;
  width: 250px;
}
